<h3>Facebook Detail</h3>

<img nginclude src="{{person.picture}}"></img>

<table class="table table-striped">
    <tr>
        <th class="col-sm-6">Property</th>
        <th class="col-sm-6">Value</th>
    </tr>
    <tr>
        <td>Id</td>
        <td>{{person.id}}</td>
    </tr>
    <tr>
        <td>First name</td>
        <td>{{person.first_name}}</td>
    </tr>
    <tr>
        <td>Last name</td>
        <td>{{person.last_name}}</td>
    </tr>
    <tr>
        <td>Facebook link</td>
        <td>{{person.link}}</td>
    </tr>
    <tr>
        <td>Full name</td>
        <td>{{person.name}}</td>
    </tr>
    <tr>
        <td>Last updated</td>
        <td>{{person.updated_time}}</td>
    </tr>

</table>
