<!-- Nog niet ingelogd -->
<div ng-hide="stalker">
    <h3>Facebook</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione hic id non rerum iusto assumenda sunt, ullam nostrum recusandae reprehenderit eos minus sapiente facilis velit perferendis, nemo sed laudantium officiis!</p>

    <button class="btn btn-default" ng-click="facebookCtrl.login()">Login</button>
</div>

<!-- Wel ingelogd -->
<div ng-include src="'views/facebook/logged-in-header.html'" ng-show="stalker"></div>