<div class="row">
	<div class="header col-md-4 col-sm-5">
		<h1>WACC - Stalker</h1>
	</div>
	<div id="headerSearchButton" class="col-md-offset-4 col-md-2 col-sm-2 col-sm-offset-3 col-xs-offset-1 col-xs-5">
		<a href="#"><button class="btn btn-block btn-default"><i class="fa fa-search"></i>search</button></a>
	</div>
	<div id="headerStatisticsButton" class="col-md-2 col-sm-2 col-xs-5">
		<a href="#statistics"><button class="btn btn-block btn-default"><i class="fa fa-area-chart"></i>statistics</button></a>
	</div>	
</div>