<div ng-controller="LoginCtrl as ctrl">

    <!-- ERROR -->
    <div class="row" ng-show="error">
        <div class="col-xs-12">
            <alert type="'danger'" close="error=''">
                <i class="fa fa-exclamation-triangle"></i> {{error}}
            </alert>
        </div>
    </div>

    {{carousel.activePage}}

    <div class="row text-center" id="navigation">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="btn-group">
                <!-- Previous -->
                <!-- <label class="btn btn-success" btn-radio="ctrl.move(-1)" ng-model="carousel.activePage">
                    <i class="fa fa-fw fa-angle-double-left"></i>
                </label> -->

                <!-- Social Media -->
                <label ng-repeat="sm in ctrl.socialMedia" class="btn btn-success" ng-model="carousel.activePage" btn-radio="$index">
                    <i class="fa fa-fw fa-{{sm.logo}}"></i>
                </label>

                <!-- Next -->
                <!--                 <label class="btn btn-success" btn-radio="ctrl.move(+1)" ng-model="carousel.activePage">
                    <i class="fa fa-fw fa-angle-double-right"></i>
                </label> -->
            </div>
        </div>
    </div>

    <!-- Start Stalking Button -->
    <div class="row" id="startStalkingButton">
        <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
            <button type="button" class="btn btn-block btn-primary" ng-click="ctrl.startStalking()">Start Stalking!</button>
        </div>
    </div>

</div>
