<form name="searchForm" role="form">
    <div class="form-group column-lg-5">
        <label for="searchName">Name</label>
        <input type="text" class="form-control" id="searchName" placeholder="Enter the name of the person you are looking for">
    </div>

    <div class="form-group column-lg-5">
        <label for="searchEmail">Email</label>
        <input type="email" class="form-control" id="searchEmail" placeholder="Enter the email address of the person you are looking for">
    </div>

    <div class="column-lg-2">
        <button type="submit" class="btn btn-default">Search</button>
    </div>
</form>
