<form name="searchForm" role="form" ng-submit="searchCtrl.searchSubmit()" novalidate class="row">
    <div class="form-group col-sm-5">
        <label for="searchName" class="control-label">Name</label>
        <input type="text" class="form-control" id="searchName" ng-model="search.name" novalidate placeholder="Malcom Reynolds">
    </div>

    <div class="form-group col-sm-5">
        <label for="searchEmail" class="control-label">Email</label>
        <input type="email" class="form-control" id="searchEmail" ng-model="search.email" novalidate placeholder="mal@serenity.com">
    </div>

    <div class="col-sm-2">
        <button id="searchFormSubmit" type="submit" class="btn btn-block btn-primary">Stalk!</button>
    </div>    
</form>

<div ng-show="!warning.isEmpty()" class="row">
    <div class="col-xs-12">
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong>{{warning}}
            <span ng-hide="searchCtrl.isSearchEmpty()" ng-click="searchCtrl.searchSubmit(true)" class="alert-link">Continue anyway.</span>
        </div>
    </div>
</div>



