<div ng-controller="SearchCtrl as ctrl">
    <h2>Search page</h2>


    <search-field></search-field>

    <div ng-repeat="socialMedium in ctrl.getSocialMedia()">
        <ng-include src="socialMedium.loginView"></ng-include>
    </div>

<div id="navigation">
    <ul class="pagination">
        <li><a href="#"><i class="fa fa-fw fa-angle-double-left"></i></a>
        </li>
        <li ng-repeat="socialMedium in ctrl.getSocialMedia()">
            <a href="#"><i class="fa fa-fw {{socialMedium.logo}}"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-fw fa-angle-double-right"></i></a>
        </li>
    </ul>
</div>

</div>
