<div ng-include class="text-center" src="'views/spinner.html'" loading></div>

<div class="legend" ng-show="showLegend()">
	<div class="legendColor" style="background:{{legend.color}};"></div>
	<span>{{legend.term}} ({{legend.percentage}}%)</span>
</div>

<fs:donut 
	ng-show="data.Data" 
	outer-radius="150" 
	inner-radius="50" 
	bind="data.Data" 
 	on-click="updateLegend"
/>

<div ng-show="error">
    <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> {{error}}
    </div>
</div>