<div class="row">
    <h2 class="col-xs-12">
        Statistics
    </h2>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12 well well-lg">
        <h3>Location</h3>
        <p>Locations from which users sought most frequently.</p>
        <statistics-frequency 
            search-parameter="'location'">
        </statistics-frequency>    
    </div>
    <!-- TODO: Paddint tussen wells -->
    <div class="col-md-6 col-sm-12 well well-lg">
        <h3>Relationship</h3>
        <p>Frequency of relationship status among stalkers.</p>
        <statistics-frequency 
            search-parameter="'location'">
        </statistics-frequency>    
    </div>    
</div>
