.alert-link {
    cursor: pointer;
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
/* DEBUG CLASSES */

.debug {
    background: red;
    font-size: 100%;
    color: white
}
/* xs */

/*@media (max-width: 768px){
	body {
		background: pink;
	}
}*/

/* s */

/*@media all and (max-width: 992px) and (min-width: 768px){
	body {
		background: green;
	}
}*/

/* m */

/*@media all and (max-width: 1200px) and (min-width: 992px){
	body {
		background: purple;
	}
}*/

/* l */

/*@media all and (min-width: 1200px){
	body {
		background: orange;
	}
}*/
