.alert-link {
    cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

header {
	margin-bottom: 10px;
}	

@media (min-width: 768px){
	header .btn {
		margin-top: 31px;
	}
	header {
		margin-bottom: 30px;
	}	
}

#navigation {
	margin-bottom: 30px;
}

.btn i {
	padding-right: 1em;
}

.only-icon {
	padding-left: 1em;
}

.socialmedia-info img, .socialmedia-info button {
	margin-top: 21px;
	margin-bottom: 10.5px;
}

.socialmedia-info img {
	margin-right: 5px;
}

#searchFormSubmit {
	margin-top: 25px;
}

.spinner {
	text-align: center;
}

.statisticsOverview h3, h4, p.description{
	text-align: center;
} 

.legend span {
	position: relative;
	bottom: 9px;	
}

.legendColor {
	display: inline-block;
	border: 3px solid white;
	height: inherit;
	width: 30px;
	height: 30px;
	/*background-color: red;*/
	border-radius: 15px;
	padding: 6px 0px;
	margin-right: 10px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

/* DEBUG CLASSES */
.debug {
    background: red;
    font-size: 100%;
    color: white
}


/*@media (max-width: 768px){
	body {
		background: pink;
	}
}

@media all and (max-width: 992px) and (min-width: 768px){
	body {
		background: green;
	}
}


@media all and (max-width: 1200px) and (min-width: 992px){
	body {
		background: purple;
	}
}

@media all and (min-width: 1200px){
	body {
		background: orange;
	}
}
*/